<nav class="bg-gray-50 border-gray-200">
    <div class="max-w-screen-md flex flex-wrap items-center justify-center mx-auto p-4">
        <div>
            <ul class="font-medium flex space-x-5">
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <div class="bg-gray-50 divide-y divide-gray-100 rounded-md shadow">
                    <ul class="py-2 text-sm text-gray-700">
                        <li>
                            <a href="">Manejo de Variables y Reactividad</a>
                        </li>
                        <li>
                            <a href="">Manejo de Variables y Reactividad</a>
                        </li>
                    </ul>
                </div>
                <li>
                    <span>|</span>
                </li>
                <li>
                    <a routerLink="antes">Antes</a>
                </li>
                <li>
                    <span>|</span>
                </li>
                <li>
                    <a routerLink="ahora">Ahora</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>