<div class="bg-gray-100">
    <div class="max-w-4xl mx-auto p-4">
        <div class="flex items-center justify-center space-x-3">
            <a routerLink="">Home</a>
            <span class="">|</span>
            <a routerLink="/about">About</a>
            <span class="">|</span>
            <a routerLink="/services">Services</a>
            <span class="">|</span>
            <a routerLink="/contact">Contact</a>
            <span class="">|</span>
            <a routerLink="/form">Form</a>
        </div>
    </div>
</div>