<div class="container">
    <h1>{{ title }}</h1>

    <app-contador></app-contador>
    <hr>
    <app-botones></app-botones>
    <hr>
    <app-formulario></app-formulario>
    <hr>
    <app-bucles></app-bucles>
    <hr>
    <app-switch></app-switch>
    <hr>
    <app-formulario2></app-formulario2>
    <hr>
    <app-formulario3></app-formulario3>
    <hr>
    <app-formulario4></app-formulario4>
    <hr>
    <p>Componente Padre</p>
    <div>
        <button class="btn btn-success" (click)="addCount()">+</button>
        <button class="btn btn-success" (click)="resCount()">-</button>
    </div>
    <app-children language="Angular" [fullName]="fullName" [age]="age" [count]="count"></app-children>
    <hr>
    <p>Componente Padre</p>
    <div>
        <p>Contado: {{ numero }}</p>
    </div>
    <app-children2 (sumNumberClick)="reciveNumber($event)"></app-children2>

    <br><br><br><br><br><br><br><br><br><br>
</div>