<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <P>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum temporibus harum nam amet vero magni
                esse
                ratione, recusandae laborum autem. Incidunt, beatae. Quod tenetur sit dolorem illum sequi ut alias.
            </P>
            <P>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum temporibus harum nam amet vero magni
                esse
                ratione, recusandae laborum autem. Incidunt, beatae. Quod tenetur sit dolorem illum sequi ut alias.
            </P>
            <P>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum temporibus harum nam amet vero magni
                esse
                ratione, recusandae laborum autem. Incidunt, beatae. Quod tenetur sit dolorem illum sequi ut alias.
            </P>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme btn-about">Back to Home</button>
            </div>
        </div>
    </div>
</section>