<form [formGroup]="formDni">
    <label for="dni" class="block mb-2 text-sm font-medium text-gray-900">
        {{typeDni}}
    </label>
    <input [ngClass]="{'is_invalid_input': hasErrors('dni', 'required') || hasErrors('dni', 'minlength')}" type="text"
        id="dni" formControlName="dni"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="12934895" />
    <p class="mt-2 text-sm text-red-600" *ngIf="hasErrors('dni', 'required')">
        {{typeDni}} Requerido
    </p>
    <p class="mt-2 text-sm text-red-600" *ngIf="hasErrors('dni', 'minlength')">
        {{typeDni}} requiere minimo 3 caracteres
    </p>
    <p>{{ variableNueva }}</p>
</form>