<div>
    <div class="mt-10">
        <p class="text-center font-bold text-xl">
            Login
        </p>
    </div>
    <form [formGroup]="initialForm" (ngSubmit)="handleSubmit()"
        class="space-y-4 max-w-sm mx-auto bg-gray-50 border border-gray-200 rounded-md shadow p-5 mt-4">
        <div>
            <input type="email" formControlName="email" placeholder="Email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:border-pink-500 block w-full p-1">
        </div>
        <div>
            <input type="password" formControlName="password" placeholder="Password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:border-pink-500 block w-full p-1">
        </div>
        <div>
            <button type="submit"
                class="text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-md text-sm w-full px-5 py-1 text-center">
                Login
            </button>
        </div>
    </form>
    <div class="max-w-sm mx-auto mt-10">
        <button (click)="handleLoginWithGoogle()" class="bg-red-700 text-center text-white w-full py-1 rounded-md">Login
            With Google</button>
    </div>
    <div class="max-w-sm mx-auto mt-10 shadow-md p-4 bg-gray-50">
        <p class="text-center">¿Aún no tienes una cuenta?</p>
        <a routerLink="/register" class="block text-pink-700 border-2 border-pink-700 mt-2 text-center rounded-md p-1">
            Crea tu Cuenta
        </a>
    </div>
</div>