<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/4298129/pexels-photo-4298129.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center">Featured</small>
                    <small class="bg-light text-info text-center">Views - 100, 256</small>
                    <small class="bg-light text-warning text-center">LAST UPDATED - SEP 21, 2023</small>

                    <h1>HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h1>
                    <P>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, eaque exercitationem dignissimos
                        voluptatibus recusandae molestiae velit alias accusamus facere saepe aliquam eligendi voluptate
                        error pariatur laudantium nisi modi odio suscipit.

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis?

                        Lorem ipsum dolor sit.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, pariatur!
                    </P>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>