<div>
    <h3 class="text-xl font-bold">Variables Simples</h3>
    <div>
        <p>Numero 1: <span class="font-bold">{{ number1 }}</span></p>
        <p>Numero 2: <span class="font-bold">{{ number2}}</span></p>
        <p>Numero 1 + Numero 2: <span class="font-bold">{{ sumNumber }}</span></p>
        <div class="mt-4 space-x-4">
            <button (click)="cambiarNumberOne()" class="bg-pink-700 px-2 py-1 rounded-md text-white">
                Cambiar Numero 1
            </button>
            <button (click)="cambiarNumberTwo()" class="bg-pink-700 px-2 py-1 rounded-md text-white">
                Cambiar Numero 2
            </button>
        </div>

    </div>
</div>