<div>
    <h3 class="text-xl font-bold">Variables Simples</h3>
    <div>
        <p>Numero 1: <span class="font-bold">{{ number1 }}</span></p>
        <p>Numero 2: <span class="font-bold">{{ number2}}</span></p>
        <p>Numero 1 + Numero 2: <span class="font-bold">{{ sumNumber }}</span></p>
        <div class="mt-4 space-x-4">
            <button (click)="cambiarNumberOne()" class="bg-pink-700 px-2 py-1 rounded-md text-white">
                Cambiar Numero 1
            </button>
            <button (click)="cambiarNumberTwo()" class="bg-pink-700 px-2 py-1 rounded-md text-white">
                Cambiar Numero 2
            </button>
        </div>
    </div>
    <h3 class="text-lg font-bold mt-5">Example Variables Simple</h3>
    <div class="grid grid-cols-2 gap-2">
        <div *ngFor="let product of products" class="p-3 border border-gray-200 rounded-md shadow">
            <p class="text-center text-pink-700 font-bold">
                {{ product.name}}
            </p>
            <p class="text-gray-700">
                {{ product.description}}
            </p>
            <div class="flex justify-between items-center">
                <span class="text-gray-700 font-medium">{{ product.category}}</span>
                <span class="text-pink-700 font-medium">
                    {{ product.price | currency: 'S/ '}}
                </span>
            </div>
            <div class="mt-3 flex justify-end">
                <button (click)="handleAddProductToCart(product)" class="bg-pink-700 py-1 px-2 text-white rounded-md">
                    Add
                </button>
            </div>
        </div>
    </div>
    <div class="mt-9">
        <h4 class="text-lg font-medium text-gray-600">Shopping</h4>
        <div class="p-3 border border-gray-200 rounded-md shadow mb-5">
            <div>
                <p>Cantidad de Productos: <span class="font-semibold">{{ getProductTotal() }}</span></p>
                <p>Precio Total: <span class="font-semibold">{{ getPriceTotalCart() | currency: 'S/ ' }}</span></p>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-2">
            <div *ngFor="let item of carts" class="p-3 border border-gray-200 rounded-md shadow">
                <p class="text-center text-pink-700 font-bold">
                    {{ item.name}}
                </p>
                <p class="text-gray-700">
                    {{ item.description}}
                </p>
                <div class="flex flex-col">
                    <span class="text-gray-700 font-normal">
                        Precio: {{ item.price | currency: 'S/ '}}
                    </span>
                    <span class="text-gray-700 font-medium">
                        Precio Total: {{ item.price * item.quantity | currency: 'S/ '}}
                    </span>
                </div>
                <div class="mt-3 flex justify-between items-center">
                    <div class="flex space-x-2 items-center">
                        <button (click)="restStockProduct(item)"
                            class="border border-pink-700 rounded-full px-3 py-1 font-bold">
                            -
                        </button>
                        <p>{{ item.quantity }}</p>
                        <button (click)="addStockProduct(item)"
                            class="border border-pink-700 rounded-full px-3 py-1 font-bold">
                            +
                        </button>
                    </div>
                    <button (click)="deleteToCartProduct(item.id)" class="bg-pink-700 py-1 px-2 text-white rounded-md">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>