<div class="container mx-auto mt-5">
    <h2 class="text-center">3. Componentes</h2>
    <div class="space-y-10">
        <app-users></app-users>
    </div>
    <br><br>
    <hr>
    <br><br>
    <h2 class="text-center">2. Directivas de Atributo</h2>
    <div class="space-y-10">
        <app-ng-atributo></app-ng-atributo>
    </div>
    <br><br>
    <hr>
    <br><br>
    <h2 class="text-center">1. Directivas Estructural</h2>
    <div class="space-y-10">
        <app-ng-for></app-ng-for>
        <hr>
        <app-ng-if></app-ng-if>
    </div>
</div>