<div class="mt-5">
    <div class="max-w-sm mx-auto">
        <label class="block mb-2 text-base font-medium text-gray-900">
            Selected a Option Ahora
        </label>
        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md">
            <option value="">-- Selected --</option>
            <option value="variables">Manejo de variables y Reactividad</option>
            <option value="tags">Tags y Selectores de componentes</option>
            <option value="inputs">Comunicacion entre componentes (inputs)</option>
            <option value="dependencias">Iyeccion de dependencias</option>
            <option value="modulos">Modulos y Componentes</option>
        </select>
    </div>
</div>

<router-outlet></router-outlet>